div {
    display: inline-block;
}

.left{
    float: left;
}
.clear{
    clear: both;
}
input{
    padding: 8px 50px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 15px;
    font-family: futura;
    font-size: 20px;
    text-align: center;
    
  }

element.style {
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
form {
    display: block;
    margin-top: 0em;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
.container > div {
    font-family: futura;
    font-size: 20px !important;
    text-align: center;
  }