body{
    text-align: center; 
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    align-items: baseline;
  }
  .container > img{
    width: 70px;
    height: auto;
  }
  .container > div{
    font-family: futura;
    font-size: 55px;
    padding-right: 20px;
    font-weight: 500;
    padding-bottom: 3%;
  }
  .desc{
      font-family: futura;
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
    form{
        margin-left: auto;
        margin-right: auto;
    }

    .button:hover{
        background-color:black;
        color: white;
    }
    .button{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-top: 10px;
      padding: 10px 45px;
      text-align: center;
      font-size: 16px;
      transition-duration: 0.2s;
      font-family: futura;
      border-radius: 10px;
      background-color:#FFF385;
      color: black;
      border: 10px;
      float: center;
      box-shadow: 2px 2px 2px rgb(230, 222, 222);
    }
    input{
      padding: 8px 50px;
      display: inline-block;
      border: 3px solid black;
      border-radius: 15px;
      font-family: futura;
      font-size: 20px;
      text-align: center;
      
    }
    label{
      font-family: futura;
      font-size: 20px;
      text-align: center;
    }

    
    /* navigation bar */
    .hover-underline-animation {
      display: inline-block;
      position: relative;
      color: black;
    }
    
    .hover-underline-animation:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: black;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .hover-underline-animation:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
