/* Project-wide style */

/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
*/

body {
  font-family: 'Rubik', sans-serif;
} 

/* navigation bar */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

li, a {
  font-family: futura;
  font-size: 20px;
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin-bottom: 30px;
}
.logo{
  width: 120px;
  height: auto;
  flex: left;
  margin-left: 15px;
  margin-top: 10px;
}

.nav_links{
  padding: 30px;
}
.nav_links li {

  list-style:none;
  margin-right:50px;
  position:relative;
  float:right;
}

ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: black;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* homepage writing */

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10%;
  align-items: baseline;
}
.container > img{
  width: 50px;
  height: auto;
}
.container > div{
  font-family: futura;
  font-size: 55px;
  padding-right: 20px;
}

.description{
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  font-family: futura;
} 

.images{
  width: 10%;
  height: auto;
}
/* log in button */
.button{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 10px;
  padding: 10px 45px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.2s;
  font-family: futura;
  border-radius: 10px;
  background-color:#FFF385;
  color: black;
  border: 10px;
  float: center;
  box-shadow: 2px 2px 2px rgb(230, 222, 222);
}
.button:hover{
  background-color:black;
  color: white;
}
.signin{
  margin-top: 10%;
  font-size: 20px;
  
}