/* Project-wide style */

/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
*/

body {
  font-family: 'Rubik', sans-serif;
} 


/* homepage writing */

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10%;
  align-items: baseline;
}
.container > img{
  width: 50px;
  height: auto;
}
.container > div{
  font-family: futura, calibri;
  font-size: 55px;
  padding-right: 20px;
}

.description{
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  font-family: futura, calibri;
} 

.images{
  width: 10%;
  height: auto;
}
/* log in button */
.button{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 10px;
  padding: 10px 45px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.2s;
  font-family: futura, calibri;
  border-radius: 10px;
  background-color:#FFF385;
  color: black;
  border: 10px;
  float: center;
  box-shadow: 2px 2px 2px rgb(230, 222, 222);
}
.button:hover{
  background-color:black;
  color: white;
}
.signin{
  margin-top: 10%;
  font-size: 20px;
  
}