table,th,td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 15px;
}

table{
  width: 1000px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

th{
  text-align: center;
  background-color: #FFFAC9;
}

td{
  background-color: rgba(255,255,255,0.2);
}


.container-titlebox{
  border-radius: 17px;
  background-color: #FEF284;
  padding: 15px;
  width: 80%;
  text-align: justify;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  font-family: futura;
}
.container-titlebox img{
  max-width: 25%;
  max-height: auto;
}

.button:hover{
    background-color:black;
    color: white;
}
.button{
  text-align: center;
  font-size: 16px;
  transition-duration: 0.2s;
  font-family: futura;
  border-radius: 10px;
  background-color:#FFF385;
  color: black;
  float: center;
  box-shadow: 2px 2px 2px rgb(230, 222, 222);
}

h4::first-line{
  font-size: 3em
}
