<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>mutuals-about</title>
</head>
<header>
    <img class="logo" src="https://i.imgur.com/6ccUWSG.png" alt="logo">
    <nav>
      <ul class="nav_links">
        <li><a href="#"> Login </a></li>
        <li><a href="#"> Friends </a></li>
        <li><a href="#"> About </a></li>
        <li><a href="#"> Home </a></li>
      </ul>
    </nav>
  </header>

<body style="text-align: center;">
    <div class="container"> 
        <div> Behind the scenes </div>
        <img src="https://i.imgur.com/Rd1Vofr.png">
    </div>
    <p class="desc"> we’re the I03 members and we’d like to introduce ourselves, </p>
    </div>

    <table class="table1">
      <tr>
          <td> <img src="https://i.imgur.com/VSzsonG.png"> </td>
          <td> <img src="https://i.imgur.com/oFvYRbC.png"></td>
          <td> <img src="https://i.imgur.com/XPPOg0x.png"> </td>
          <td> <img src="https://i.imgur.com/sI6jg26.png"> </td>
      </tr>
      <tr> 
          <td class="name"> Joel </td>
          <td class="name"> Ryan </td>
          <td class="name"> Arya </td>
          <td class="name"> Aldi </td>
      </tr>
    </table>
    <table class="table2">
        <tr>
            <td> <img src="https://i.imgur.com/RqxFkbu.png"> </td>
            <td> <img src="https://i.imgur.com/qX31w6a.png"> </td>
            <td> <img src="https://i.imgur.com/RhOgUus.png"> </td>
        </tr>
        <tr > 
            <td class="name"> Kevin </td>
            <td class="name"> Audi </td>
            <td class="name"> Felix </td>
        </tr>
    </table>

</body>
</html>