{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <h1 class="title"> Welcome to Mutuals 👋🏼 </h1>
  <p class="description"> Mutuals is a web application that focuses in connecting end user to a <br>
    diverse group of people sharing the same interests. You may message them <br>
    through the message box feature, or have fun with our randomize button <br>
    and communicate with shuffled users.
   </p>
  {% block content %}
  {% endblock content %}
</body>

</html>
