{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<header>
    <img class="logo" src="https://i.imgur.com/6ccUWSG.png" alt="logo">
    <nav>
      <ul class="nav_links">
        <li><a href="#"> {{fullname}} </a></li>
        <li><a href="#"> Friends </a></li>
        <li><a href="about"> About </a></li>
        <li><a href=""> Home </a></li>
      </ul>
    </nav>
  </header>
<body>
    <div class="card w-100">
        <div class="col-9">
            <div class="card-title"> Hello!
                
            </div>
        </div>
        
    </div>

    <div class="container">
        
        <div class="row">
            <div class="col-9">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="fullname" class="form-label">Fullname</label>
                        <input type="text" class="form-control" id="fname" name="fullname">
                    </div>
                    <div class="mb-3">
                        <label for="birthdate" class="form-label">Birthdate</label>
                        <input type="text" class="form-control" id="bdate" name="birthdate">
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="text" class="form-control" id="age" name="age">
                    </div>
                    <div class="mb-3">
                        <label for="domicile" class="form-label">Domicile</label>
                        <input type="text" class="form-control" id="domicile" name="domicile">

                    </div>
                </form>
            </div>
            <div class="col-5">
                <h2>Your interests</h2>
                <div class="card" style="width: 300%;">
                    <p>Cycling</p>
                    <p>Watch Movies</p>
                </div>
            </div>

        </div>
        <input type="submit" class="btn btn-warning" value="Continue">
    </div>
</body>
</html>