{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   

</head>
{% include "navbar_after.html" %}
<body>
    <div class="container">
        <div class="row">
            <form action="" method="POST"> {% csrf_token %}
                <div class="col-6">
                    <div class="mb-3">
                        <label for="fullname" class="form-label">To</label>
                        <input type="text"   class="form-control" id="fname" name="fullname">
                    </div>
                    <div class="mb-3">
                        <label for="birthdate" class="form-label">DOB</label>
                        <input type="text" class="form-control" id="DOB" name="DOB">
                    </div>
                    <div class="mb-3">
                          <label for="domicile" class="form-label">Domicile</label>
                          <input type="text"  class="form-control" id="Domicile" name="Domicile">
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <input type="text"   class="form-control" id="gender" name="gender">
                    </div>
                    <div class="mb-3">
                        <div class="col-3">
                            <label for="line" class="form-label">Line ID</label>
                            <input type="text"   class="form-control" id="line" name="line">    
                        </div>
                        <div class="col-3">
                            <label for="instagram" class="form-label">Instagram</label>
                            <input type="text"   class="form-control" id="instagram" name="instagram">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text"   class="form-control" id="email" name="Email">
                    </div>
                </div>
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
            

            

            
       
        
    </div>
</body>
</html>