{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/suggestion.css' %}">

</head>

{% include "navbar_after.html" %}
<body>
  <center>

  <table>
    <tr>
      <th>Name</th>
      <th>Interest</th>
    </tr>
    <!-- TODO loop from Friend model -->
    <!-- EXAMPLE SECTION -->
      {% for user in users %}
      <tr>
        <td>{{user.fullname}}</td>
        <td>{{user.interest}}</td>
      </tr>
      {% endfor %}
    <!-- END SECTION -->
  </table>
</center>
</body>


</html>
