{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/suggestion.css' %}">

</head>

{% include "navbar_after.html" %}
<body>
  <center>
    <h4 id="titlebox">
      Hi, {{currentname}}<br>
      Here are some of our suggestions
    </h4>
    <br>
    {% for user in users %}
    <br>
      <h3 id="friendbox">{{user.fullname}} &emsp; &emsp; &emsp; {{user.interest}} &emsp; &emsp; &emsp; <button id="buttontheme">Chat Now!</button></h3>
    {% endfor %}
    <br><br><br>
    <button class="button">Shuffle Muttuals</button>
</center>
</body>


</html>
